{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Inicio</title>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--<script src="js/jquery.easydropdown.js"></script>-->
<!--start slider -->
<link rel="stylesheet" href="{% static 'css/fwslider.css' %}" media="all">
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/fwslider.js' %}"></script>
<!--end slider -->
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href="{% url 'index' %}"><img src="{% static 'images/logo.jpg' %}" alt=""/></a>
					 </div>
					 <div class="menu">
						  <a class="toggleMenu" href="#"><img src="{% static 'images/nav.png' %}" alt="" /></a>
						    <ul class="nav" id="nav">
						    	<li><a href="{% url 'maestros' %}">Maestros</a></li>
						    	<li><a href="{% url 'eventos' %}">Eventos</a></li>
								<li><a href="{% url 'contacto' %}">Contacto</a></li>								
								<div class="clear"></div>
							</ul>
							<script type="text/javascript" src="{% static 'js/responsive-nav.js' %}"></script>
				    </div>							
	    		    <div class="clear"></div>
	    	    </div>
	            <div class="header_right">
						<!----search-scripts---->
						<script src="{% static 'js/classie.js' %}"></script>
						<script src="{% static 'js/uisearch.js' %}"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
						<!----//search-scripts---->
				    <ul class="icon1 sub-icon1 profile_img">
					 <li class="login_button"><a href="{% url 'login' %}">Login</a></li>
				   </ul>
		           <div class="clear"></div>
	       		</div>
	      	  </div>
		 </div>
	    </div>
	</div>
	<div class="banner">
	<!-- start slider -->
       <div id="fwslider">
         <div class="slider_container">
            <div class="slide"> 
                <!-- Slide image -->
               <img src="{% static 'images/CORE.jpg' %}" class="img-responsive" alt=""/>
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h1 class="title">Unete a<br>nuestras clases</h1>
                    </div>
                </div>
               <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
               <img src="{% static 'images/colabo.jpg' %}" class="img-responsive" alt=""/>
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h1 class="title">Unete a<br>nuestras clases</h1>
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span></span></div>
        <div class="slideNext"><span></span></div>
       </div>
       <!--/slider -->
      </div>
	  <div class="main">
		<div class="content-top">
			<h2>Bailarines</h2>
			<p>Conoce a nuestro equipo de bailarines</p>
			<div class="close_but"><i class="close1"> </i></div>
				<ul id="flexiselDemo3">
				<li><img src="{% static 'images/fan.JPG' %}" /></li>
				<li><img src="{% static 'images/mis.JPG' %}" /></li>
				<li><img src="{% static 'images/manu.JPG' %}" /></li>
				<li><img src="{% static 'images/artur.JPG' %}" /></li>
				<li><img src="{% static 'images/alan.jpeg' %}" /></li>
			</ul>
		<h3>Un exelente equipo de trabajo</h3>
			<script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo3").flexisel({
				visibleItems: 5,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
		    	responsiveBreakpoints: { 
		    		portrait: { 
		    			changePoint:480,
		    			visibleItems: 1
		    		}, 
		    		landscape: { 
		    			changePoint:640,
		    			visibleItems: 2
		    		},
		    		tablet: { 
		    			changePoint:768,
		    			visibleItems: 3
		    		}
		    	}
		    });
		    
		});
		</script>
		<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script>
		</div>
	</div>

	<div class="features">
		<div class="container">
			<h3 class="m_3">Paquetes para eventos de 15 años</h3>
			<div class="close_but"><i class="close1"> </i></div>
			  <div class="row">
				<div class="col-md-3 top_box">
				  <div class="view view-ninth"><a href="{% url 'singlep' %}">
                    <img src="{% static 'images/paquete 1.JPG' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Paquete #1</h2>
                        <p>Entra y conoce las especificaciones y promociones de nuestros paquetes.</p>
                      </div>
                   </a> </div>
              </div>
                <div class="col-md-3 top_box">
					<div class="view view-ninth"><a href="{% url 'singlep2' %}">
                    <img src="{% static 'images/paquete 2.JPG' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Paquete #2</h2>
                        <p>Entra y conoce las especificaciones y promociones de nuestros paquetes.</p>
                      </div>
                    </a> </div>
				</div>
				<div class="col-md-3 top_box">
					<div class="view view-ninth"><a href="{% url 'singlep3' %}">
                    <img src="{% static 'images/paquete 3.JPG' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Paquete #3</h2>
                        <p>Entra y conoce las especificaciones y promociones de nuestros paquetes.</p>
                      </div>
                    </a> </div>
				</div>
				<div class="col-md-3 top_box1">
					<div class="view view-ninth"><a href="{% url 'singlep4' %}">
                    <img src="{% static 'images/paquete 4.JPG' %}" class="img-responsive" alt=""/>
                    <div class="mask mask-1"> </div>
                    <div class="mask mask-2"> </div>
                      <div class="content">
                        <h2>Paquete #4</h2>
                        <p>Entra y conoce las especificaciones y promociones de nuestros paquetes.</p>
                      </div>
                     </a> </div>
				</div>
			</div>
		 </div>
	    </div>
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<ul class="footer_box">
							<h4></h4>
							
							<ul class="social">	
							  <li class="facebook"><a href="https://www.facebook.com/NewBloodDS"><span> </span></a></li>
							  <li class="twitter"><a href="#"><span> </span></a></li>
							  <li class="instagram"><a href="#"><span> </span></a></li>	
							  <li class="youtube"><a href="#"><span> </span></a></li>										  				
						    </ul>
		   					
						</ul>
					</div>
					<div class="col-md-3">
						
					</div>
					<div class="col-md-3">
						<p>2018 - 2021 © New Blood - Todos los derechos reservados.</p>
						<a href="#">Términos y condiciones.</a> <a href="#">Aviso de privacidad.</a>
					</div>
				</div>
			</div>
		</div>
</body>	
</html>