{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Lista Alumnos Clase</title>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--<script src="js/jquery.easydropdown.js"></script>-->
<!--start slider -->
<link rel="stylesheet" href="{% static 'css/fwslider.css' %}" media="all">
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/fwslider.js' %}"></script>
<!--end slider -->
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href="/admin"><img src="{% static 'images/logo.jpg' %}" alt=""/></a>
					 </div>
					 <div class="menu">
						  <a class="toggleMenu" href="#"><img src="{% static 'images/nav.png' %}" alt="" /></a>
						    <ul class="nav" id="nav">
						    	<li><a href="{% url 'lista_alumnos' %}">Alumnos</a></li>
						    	<li><a href="{% url 'lista_clases' %}">Clases</a></li>							
								<div class="clear"></div>
							</ul>
							<script type="text/javascript" src="{% static 'js/responsive-nav.js' %}"></script>
				    </div>							
	    		    <div class="clear"></div>
	    	    </div>
	            <div class="header_right">
						<!----search-scripts---->
						<script src="{% static 'js/classie.js' %}"></script>
						<script src="{% static 'js/uisearch.js' %}"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
						<!----//search-scripts---->
				    <ul class="icon1 sub-icon1 profile_img">
					 <li class="login_button"><a href="{% url 'logout' %}">Logout</a></li>
				   </ul>
		           <div class="clear"></div>
	       		</div>
	      	  </div>
		 </div>
	    </div>
	</div>

	<br>
	<br>


	<div class="title" align="center"><h3>Listado de alumnos</h4></div>
	<div class="title" align="center"><h5>Clase: {{clase_obj.nombre}}</h5></div>
	<div class="title" align="center"><h5>Horario: {{clase_obj.horario}}</h5></div>

	<div class="container">
		<ul class="icon1 sub-icon1 profile_img">
		 <li class="login_button"><a href="{% url 'agregar_alumno' %}">Agregar Alumno</a></li>
	   </ul>
		<br>
		<br>
	   	<br>
	</div>

	<div class="container">
		<table class="table table-bordered">
            <tr>
                <td class="col-xs-3" align="center" bgcolor="brown">Nombre</td>
                <td class="col-xs-3" align="center" bgcolor="brown">Apellidos</td>
                <td class="col-xs-1" align="center" bgcolor="brown">Edad</td>
                <td class="col-xs-1"></td>
                <td class="col-xs-1"></td>
            </tr>  
            {% for alumno in alumnos %}
            <tr>
            	<td class="col-xs-3">{{alumno.nombre}}</td>
                <td class="col-xs-3">{{alumno.a_paterno}} {{alumno.a_materno}}</td>
                <td class="col-xs-2">{{alumno.edad}}</td>
                <td class="col-xs-1"><a href="{% url 'modificar_alumno' alumno.pk %}"><button class="btn btn-info">Modificar</button></a></td>
                <td class="col-xs-1"><a href="{% url 'eliminar_alumno' alumno.pk %}"><button class="btn btn-danger">Eliminar</button></a></td>
            </tr>
            {% endfor%} 
        </table>
			
	</div>



		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<ul class="footer_box">
							<h4></h4>
							
							<ul class="social">	
							  <li class="facebook"><a href="https://www.facebook.com/NewBloodDS"><span> </span></a></li>
							  <li class="twitter"><a href="#"><span> </span></a></li>
							  <li class="instagram"><a href="#"><span> </span></a></li>	
							  <li class="youtube"><a href="#"><span> </span></a></li>										  				
						    </ul>
		   					
						</ul>
					</div>
					<div class="col-md-3">
						
					</div>
					<div class="col-md-3">
						<p>2018 - 2021 © New Blood - Todos los derechos reservados.</p>
						<a href="#">Términos y condiciones.</a> <a href="#">Aviso de privacidad.</a>
					</div>
				</div>
			</div>
		</div>
</body>	
</html>